.main_container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.logo {
    float: left;
    margin-top: 16px;
    
}

nav {
    float: right;
}

.header_main {
    background-color: #007765;
    height: 84px;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 25px 0px 0px 0px;
    padding: 0; /*убираем левый отступ, равный 40px*/
  }

nav li {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
}

a { text-decoration: none; /*убираем подчеркивание текста ссылок*/
    display: block;
    color: white;
    padding-left: 8px;}

.first_banner {
    background-image: url(../img/image.png);
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 160px;
    padding-bottom: 160px;
}

.banner_message {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 84px;
text-align: center;
color: #FFFFFF;
}

.main_title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.problem_banner {
    background-color: #EEEEEE;

}

.content {
    padding-top: 48px;
    padding-bottom: 92px;
}

.problem_text {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
color: #000000;
}

.citate {
    font-weight: bold;
}

.hero {
    background-image: url("../img/hero.png");
    background-position: center center;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
}

.hero_message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
  }

  .coin {
      background-color: white;
  }

  .theteam {
    background-color: #EEEEEE;
  }

  .ppc_logo {
      float: left;
      padding-right: 48px;
  }

  .summary_text {
      font-family: Roboto;
      font-style: normal;
    font-weight: normal;
    font-size: 32px;
  }

  .italic {
      font-style: italic;
  }

  .card_img {
    width: 350px;
    height: 283px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 55px;
    margin: 0px;
}

  .cards_foto {
    width: 168px;
    height: 168px;
  }

figcaption {
    display: block;
}

.figure {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.name_card {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
    margin-bottom: 8px;

}

em {
    font-style: italic;
}

.footer {
    background-color: #333333;
    height: 176px;
}

.footer_text {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
padding-top: 50px;
padding-bottom: 62px;
}